{% load static %}

<div class="map-container" style="margin-left: 25%; width: 50%">
    <img id="pixel-map" src="{% static 'images/' %}{{ map_name }}" hx-get="/map/{{ map_name_changed }}" hx-trigger="click" hx-swap="outerHTML" hx-target=".map-container">
</div>

<script>
var image = document.querySelector('#pixel-map');
var pixelWidth = image.width / {{ map_size }};
var pixelHeight = image.height / {{ map_size }};

image.addEventListener('mousemove', (event) => {
  const x = Math.ceil(event.offsetX / pixelWidth);
  const y = Math.ceil(event.offsetY / pixelHeight);

  console.log(x, y);
});
</script>